.footer{
    width: 70px;
}
.container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgb(0,255,193);
  background: linear-gradient(180deg, rgba(0,255,193,1) 0%, rgba(0,0,0,1) 100%);
    
}